<div class="container">



    <div class="flex flex-1 items-center justify-center p-6">

        <div class="w-full max-w-lg">
            <h1 class="text-center font-bold text-3xl hover:italic text-amber-300">Find Github Repository</h1>
            <form [formGroup]="searchBar" (submit)="search()">
                <div class="mt-5 sm:flex sm:items-center">
                    <input id="q" name="username" formControlName="username"
                        class="inline w-full rounded-md border border-gray-300 bg-white py-2 pl-3 pr-3 leading-5 placeholder-gray-500 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm"
                        placeholder="Enter your Github username" type="search" autofocus="" value="">
                    <button type="submit" class="mt-3 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 
                   focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Search </button>
                </div>
                <div class="text-white font-bold " *ngIf="searchBar.controls.username.invalid && 
                searchBar.controls.username.touched">Please enter Github username</div>
            </form>
        </div>
    </div>

    <div *ngIf="loader else content">
        <app-selekton></app-selekton>
    </div>

    <ng-template #content>
        <router-outlet></router-outlet>
    </ng-template>
   
    

</div>