mat-paginator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 98, 216, 0.437);
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.05);
}