<ngx-skeleton-loader
  *ngIf="loader"
  [theme]="{
    height: '300px',
    width: '300px',
    'border-radius': '50%',
    'background-color': '#303030'
  }"
  appearance="circle"
  count="1"
  animation="progress-dark"
></ngx-skeleton-loader>
<div class="my-[2rem] flex flex-col">
  <ngx-skeleton-loader
    *ngIf="loader"
    [theme]="{
      height: '30px',
      width: '160px',
      'background-color': '#303030'
    }"
    appearance="line"
    count="1"
    animation="progress-dark"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    *ngIf="loader"
    [theme]="{
      height: '30px',
      width: '140px',
      'background-color': '#303030'
    }"
    appearance="line"
    count="1"
    animation="progress-dark"
  ></ngx-skeleton-loader>
</div>
<div class="my-4">
  <ngx-skeleton-loader
    *ngIf="loader"
    [theme]="{
      width: '240px',
      'background-color': '#303030'
    }"
    appearance="line"
    count="1"
    animation="progress-dark"
  ></ngx-skeleton-loader>
</div>
<div class="my-[2rem]">
  <ngx-skeleton-loader
    *ngIf="loader"
    [theme]="{
      width: '280px',
      'background-color': '#303030'
    }"
    appearance="line"
    count="1"
    animation="progress-dark"
  ></ngx-skeleton-loader
  ><ngx-skeleton-loader
    *ngIf="loader"
    [theme]="{
      width: '280px',
      'background-color': '#303030'
    }"
    appearance="line"
    count="1"
    animation="progress-dark"
  ></ngx-skeleton-loader>
</div>
<ngx-skeleton-loader
  *ngIf="loader"
  [theme]="{
    width: '300px',
    'background-color': '#303030'
  }"
  appearance="line"
  count="4"
  animation="progress-dark"
></ngx-skeleton-loader>
