.bg-body-tertiary {
  background: black !important;
}
.navbar-brand {
  color: white !important;
}
 .navbar-nav .nav-link.active{
   color: white !important;
  }
  .nav-link {
  color: white !important;

}
