footer {
    background-color: rgb(79, 145, 246);
  
    ul {
      display: flex;
  
      li {
        list-style-type: none;
        margin: 20px;
  
        a {
          color: #FFFFFF;
        }
      }
    }
  }
  