<div *ngIf="user">
    <!-- <app-user-card [user] = "user" ></app-user-card> -->
    <div *ngIf="!error">
        <app-user-card [user]="user"></app-user-card>
    </div>
    <div *ngIf="repos.length > 0 then repolist else noData">
    </div>
</div>

<ng-template #repolist>
    <div class="flex justify-center">
        <h2 class="text-center">Repositories of {{ user.name }}</h2>
    </div>
    <div *ngIf="isLoading; else loadedContent">
        <div *ngFor="let _ of [].constructor(10)">
            <app-repo-card-skeleton></app-repo-card-skeleton>
        </div>
    </div>
    <ng-template #loadedContent>
        <app-repo-card [repos]="repos"></app-repo-card>
    </ng-template>

    <app-pagination [currentPage]="currPage" [pageSize]="pageSize" [totalItems]="totalRepos"
        (pageChange)="onPageChange($event)" (sizeChange)="onPageSizeChange($event)">
    </app-pagination>
</ng-template>
<ng-template #noData>
    <div>
        <p>No repositories found for {{ userName }}</p>
    </div>
</ng-template>

<div *ngIf="error">
    <p>user not found</p>
</div>