<div
  class="w-96 h-36 bg-slate-100 rounded-xl mx-10 my-8 shadow-lg hover:shadow-sm transition delay-50"
>
  <div class="flex justify-between px-3 py-2">
    <a href="{{ repo.html_url }} "
      ><p class="text-lg text-purple-600 hover:underline font-semibold pr-8">
        {{ capitalizeFirstLetter(repo.name) }}
      </p></a
    >
    <p
      class="border-slate-200 border-2 text-xs rounded-xl pt-1 px-1 text-slate-700"
    >
      {{ capitalizeFirstLetter(repo.visibility) }}
    </p>
  </div>
  <div>
    <p class="text-slate-600 px-3 pb-1 text-sm">
      {{ trimDescription(repo.description) }}
    </p>
    <div class="flex justify-center">
      <p class="bg-slate-800 w-1/4 rounded-lg text-center text-slate-100 my-2">
        {{ repo.language }}
      </p>
    </div>
  </div>
</div>

