<div class="w-full flex flex-col">
  <div
    class="my-3 border-2 border-edge-dark p-3"
  >
    <ngx-skeleton-loader
      [theme]="skeletonTheme"
      class="w-full"
      count="1"
      [animation]="getSkeletonAnimation()"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="skeletonTheme"
      class="w-full"
      count="1"
      [animation]="getSkeletonAnimation()"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="skeletonTheme"
      class="w-full"
      count="1"
      [animation]="getSkeletonAnimation()"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="skeletonTheme"
      class="w-full"
      count="1"
      [animation]="getSkeletonAnimation()"
    >
    </ngx-skeleton-loader>
  </div>
</div>
