<!-- Navbar using Tailwind CSS -->
<nav class="bg-blue-600 items-center text-center p-4">
  <div class="container font-bold mx-auto flex justify-between items-center">
    <a class="text-white text-xl flex items-center" href="#">
      <i class="text-2xl mr-2 "></i>
      Github Profile Search
    </a>

    <!-- <div class="text-white">
      <a class="mr-4" href="https://instagram.com/believer._69">
        <i class=" mr-1"></i> Instagram
      </a>
      <a href="https://github.com/codeforme1234">
        <i class=" mr-1"></i> Github
      </a>
    </div> -->
  </div>
</nav>
<div class="container mx-auto mt-6">
  <div class="md:w-2/3 mx-auto">
  </div>
</div>
