<nav
    class="relative flex w-full flex-wrap items-center justify-between bg-white border-gray-200 dark:bg-gray-900 py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-300 lg:py-4">
    <div class="py-1 flex w-full flex-wrap items-center justify-between px-3">
        <a class="ml-2 text-xl text-neutral-400 dark:text-neutral-200" routerLink="">Github Viewer</a>
        <form *ngIf="showSearch" (ngSubmit)="processQuery()" class="ml-5 flex w-[30%] items-center justify-between">
            <input [(ngModel)]="searchQuery" name="search-query" type="text" id="search-navbar"
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search...">

            <!--Search icon-->
            <span (click)="processQuery()"
                class="hover:bg-slate-600 ml-2 input-group-text flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-400 dark:text-neutral-200"
                id="basic-addon2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                    <path fill-rule="evenodd"
                        d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </form>
    </div>
</nav>