<mat-grid-list cols="2" rowHeight="245">
  <mat-grid-tile class="h-56 z-10" *ngFor="let repo of repos">
    <a class="content p-5 w-11/12 h-56" href="{{ repo?.html_url }}">
      <div class="name text-3xl font-bold">{{ repo.name }}</div>
      <div class="description h-16 mt-7 font-medium overflow-y-hidden">
        {{ repo.description }}
      </div>
      <div id="topics" class="m-2 overflow-x-hidden">
        <app-topics [topics]="repo.topics" class="flex"></app-topics>
      </div>
    </a>
  </mat-grid-tile>
</mat-grid-list>
