<div class="flex w-[70vw] flex-col overflow-hidden text-[#defefe]">
  <div
    class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3"
  >
    <div *ngFor="let repo of pagedRepos" class="m-2 rounded-lg bg-gray-800 p-4">
      <h3 class="mb-2 text-lg font-semibold">{{ repo.name }}</h3>
      <p class="mb-2 text-gray-400">{{ repo.description }}</p>
      <p class="text-blue-500">{{ repo.html_url }}</p>
    </div>
  </div>
  <div *ngIf="repos">
    <mat-paginator
      class="mt-4 flex justify-center"
      [length]="repos.length"
      [pageSize]="itemsPerPage"
      [pageIndex]="currentPage - 1"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageChanged($event)"
    ></mat-paginator>
  </div>
</div>
