<div *ngIf="!isSm; else smContent" class="w-full grid grid-cols-10 gap-10">
  <ng-container *ngFor="let repo of repos; let i = index">
    <div
      [ngClass]="{ 'col-start-2': i % 2 == 0 }"
      class="border-l-2 rounded-lg border-b-2 col-span-4 border-violet-500 text-left p-2 shadow-xl shadow-cyan-500/50 h-fit"
    >
      <div class="text-xl font-bold">{{ repo.name }}</div>
      <div class="text-sm text-justify p-2 px-4">{{ repo.description }}</div>
      <div class="w-fit flex flex-row gap-2 my-1 flex-wrap">
        <div
          *ngIf="repo.topics.length > 0"
          class="h-fit w-full ml-3 flex flex-wrap gap-y-2 gap-x-1 pb-2"
        >
          <div
            *ngFor="let topic of repo.topics; let i = index"
            class="p-1 px-4 text-sm text-white bg-sky-400 rounded-md font-bold h-fit"
          >
            {{ topic }}
          </div>
        </div>
      </div>
      <a [href]="repo.html_url" target="_blank">
        <img
          src="../../../assets/external-link.png"
          class="h-4 px-4 hover:scale-125"
        />
      </a>
    </div>
  </ng-container>
</div>

<ng-template #smContent>
  <div class="w-full grid grid-cols-12 gap-4">
    <ng-container *ngFor="let repo of repos">
      <div
        class="col-start-2 col-end-12 border-t-2 border-violet-500 text-center pt-3 rounded-lg shadow-md shadow-cyan-500/50 pb-2 h-fit"
      >
        <div class="text-lg font-bold">{{ repo.name }}</div>
        <div class="text-xs mb-1 px-1 text-justify p-2 px-4">
          {{ repo.description }}
        </div>
        <div class="w-fit flex flex-row gap-x-2 gap-y-1 p-1">
          <div
            *ngIf="repo.topics.length > 0"
            class="h-fit w-full mx-3 flex flex-wrap gap-y-2 gap-x-1 pb-2"
          >
            <div
              *ngFor="let topic of repo.topics; let i = index"
              class="p-1 px-4 text-xs text-white bg-sky-400 rounded-md font-bold h-fit"
            >
              {{ topic }}
            </div>
          </div>
        </div>
        <img
          src="../../../assets/external-link.png"
          class="h-3 px-4 hover:scale-125"
        />
      </div>
    </ng-container>
  </div>
</ng-template>
