<div class="grid h-screen place-items-center background-container" [style.backgroundImage]="'url(' + imageUrl + ')'">
    <div class="text-3xl">
      <div>
        <form (ngSubmit)="onSubmit()" class="max-w-md mx-auto bg-white p-2 rounded-lg">
          <div class="flex items-center justify-between border-b-2 border-blue-500 py-2">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="h-12 w-12 mr-4">
            <input type="text" [(ngModel)]="username" name="username" placeholder="Enter GitHub username"
              class="appearance-none bg-transparent border-none w-full  mr-4 py-2 leading-tight focus:outline-none">
            <button type="submit"
              class="flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded">View Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  