<div class="w-full flex flex-col">
  <ngx-skeleton-loader
    count="1"
    appearance="circle"
    [theme]="skeletonThemeCircle"
    [animation]="getSkeletonAnimation()"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    [theme]="skeletonTheme"
    class="w-full"
    count="1"
    [animation]="getSkeletonAnimation()"
  >
  </ngx-skeleton-loader>
  <ngx-skeleton-loader
    [theme]="skeletonTheme"
    class="w-full"
    count="1"
    [animation]="getSkeletonAnimation()"
  >
  </ngx-skeleton-loader>
  <ngx-skeleton-loader
    [theme]="skeletonTheme"
    class="w-full"
    count="1"
    [animation]="getSkeletonAnimation()"
  >
  </ngx-skeleton-loader>
  <ngx-skeleton-loader
    [theme]="skeletonTheme"
    class="w-full"
    count="1"
    [animation]="getSkeletonAnimation()"
  >
  </ngx-skeleton-loader>
</div>
