
<div *ngIf="repositories && repositories.length > 0" class="repositories-container">
  <h2 class="repositories-header">Repositories for {{ username }}</h2>
  <ul class="repositories-list">
    <li *ngFor="let repo of repositories" class="repository-item">
      <a href="{{ repo.html_url }}" target="_blank" class="repository-link">{{ repo.name }}</a>
      <p class="repository-description">{{ repo.description }}</p>
    </li>
  </ul>
</div>
<div *ngIf="!repositories || repositories.length === 0" class="no-repositories">
  <p class="text-red-500">No repositories found for {{ username }}</p>
</div>
