/* pagination.component.scss */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    min-width: 36px;
  }

  .page {
    margin: 0 4px;
  }

  .active {
    background-color: #2196f3;
    color: white;
  }
}
