<div class="shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] p-2 h-full rounded-sm overflow-hidden">
    <div class="px-4 py-2">
        <a href="{{repoLink}}" class="underline font-bold text-xl mb-2">{{repoName}}</a>
        <p class="text-gray-700 text-base">
            {{repoDescription}}
        </p>
    </div>
    <div *ngIf="repoTopics" class="px-4 pt-2">
        <span *ngFor="let d of repoTopics.split(',')"
            class="inline-block bg-blue-900 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">{{d}}</span>
    </div>
</div>
<!-- <div class="bg-slate-500 border-4 border-red-300">
    {{repoName}}
</div> -->