<div class="flex h-[400px] flex-row flex-wrap px-[35px]">
  <div
    class="mx-7 my-5 flex h-44 w-96 animate-pulse flex-col rounded-xl bg-[#303030] shadow-lg"
  >
    <div class="m-8 flex justify-between px-3 py-2">
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="h-8 w-1/4 rounded-lg bg-[#1f1f1f]"></div>
      </div>
    </div>
  </div>
  <div
    class="mx-7 my-5 flex h-44 w-96 animate-pulse flex-col rounded-xl bg-[#303030] shadow-lg"
  >
    <div class="m-8 flex justify-between px-3 py-2">
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="h-8 w-1/4 rounded-lg bg-[#1f1f1f]"></div>
      </div>
    </div>
  </div>

  <div
    class="mx-7 my-5 flex h-44 w-96 animate-pulse flex-col rounded-xl bg-[#303030] shadow-lg"
  >
    <div class="m-8 flex justify-between px-3 py-2">
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="h-8 w-1/4 rounded-lg bg-[#1f1f1f]"></div>
      </div>
    </div>
  </div>
  <div
    class="mx-7 my-5 flex h-44 w-96 animate-pulse flex-col rounded-xl bg-[#303030] shadow-lg"
  >
    <div class="m-8 flex justify-between px-3 py-2">
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="h-8 w-1/4 rounded-lg bg-[#1f1f1f]"></div>
      </div>
    </div>
  </div>
  <div
    class="mx-7 my-5 flex h-44 w-96 animate-pulse flex-col rounded-xl bg-[#303030] shadow-lg"
  >
    <div class="m-8 flex justify-between px-3 py-2">
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="h-8 w-1/4 rounded-lg bg-[#1f1f1f]"></div>
      </div>
    </div>
  </div>
  <div
    class="mx-7 my-5 flex h-44 w-96 animate-pulse flex-col rounded-xl bg-[#303030] shadow-lg"
  >
    <div class="m-8 flex justify-between px-3 py-2">
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
      <p class="m-20 h-8 w-10 animate-bounce rounded-lg bg-[#1f1f1f]"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="h-8 w-1/4 rounded-lg bg-[#1f1f1f]"></div>
      </div>
    </div>
  </div>
</div>
