
.left-side {
  height: 100vh;
}
.right-side {
  height: 100vh;
}
.repo {
  font-weight: bold;
}
/* .btn-sm{
  background-color: var(--color-btn-primary-bg);
} */
.bg-body-tertiary {
  background: grey !important;
}
.navbar-brand {
  color: white !important;
}
.navbar-nav .nav-link.active {
  color: white !important;
}
.nav-link {
  color: white !important;
}
.nav-link.active {
  color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  position: relative;
  width: 102%;
  background: cornflowerblue;
  z-index: 99;
  margin-left: -0.8rem;
}
/*---------header close----------*/
/*-----------header-top------------*/
.header-top {
  padding: 12px 0px 15px 0px;
  background: gray;
}
.left_info ul li {
  display: inline-block;
  margin-right: 30px;
}

.left_info a {
  color: #fffefe;
  font-size: 14px;
  font-weight: 500;
}

.left_info i.fa {
  font-size: 19px;
  color: #fff;
  padding-right: 10px;
}

.right_info p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.left_info {
  text-align: right;
}

.right_info i.fa {
  font-size: 26px;
  margin-right: 10px;
  position: relative;
  bottom: -4px;
}

header i.fa.fa-mobile {
  bottom: -4px;
  font-size: 26px;
  position: relative;
  border: 40px;
  font-weight: 500;
}

.left_info ul li:last-child {
  margin: 0px !important;
}
.header-main {
  padding: 21px 0;
  border-top: 1px solid #424242;
}
/*-----------header-top Close------------*/
/*-----------header-menu------------*/
nav#cssmenu ul {
  /* float: right; */
  margin-top: 13px;
}
.logo {
  position: relative;
  z-index: 123;
  padding: 10px;
  font: 18px verdana;
  color: #6ddb07;
  float: left;
}
.logo img {
  max-width: 170px;
}
.logo a {
  color: #6ddb07;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #head-mobile {
  display: none;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  padding: 9px 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #efefef;
}
#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
  color: #fff;
}
#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
  background: grey !important;
  -webkit-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 17px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 14px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  margin-top: 0;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  background: #333;
  transition: all 0.25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 190px;
  font-size: 12px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}
#cssmenu ul ul ul li.active a {
  border-left: 1px solid #333;
}
#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333;
}

@media screen and (max-width: 991px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none;
  }
  .logo2 {
    display: none;
  }
  nav {
    width: 100%;
  }
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #444;
    float: right;
  }
  #cssmenu ul li:hover {
    background: transparent !important;
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul li {
    background: #333 !important;
  }
  #cssmenu ul ul li:hover {
    background: #363636 !important;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #ddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #fff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700;
  }
  .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
  }
  .button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: "";
  }
  .button:before {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #ddd;
    content: "";
  }
  .button.menu-opened:after {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
  #cssmenu ul ul ul li.active a {
    border-left: none;
  }
  #cssmenu > ul > li.has-sub > ul > li.active > a,
  #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;
  }
}

img {
  width: 100%;
}
div#slider-home .carousel-item::before {
  background: #0000005c;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
#slider-home h3 {
  text-transform: capitalize;
  font-size: 50px;
}

#slider-home p {
  font-size: 23px;
}

#slider-home .btn {
  background: #f82249;
  color: #fff;
  padding: 12px 30px !important;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
#slider-home .btn:hover {
  background: #ffffff;
  color: #f82249;
}

table {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  border-collapse: separate;
  border-spacing: 0;
}

tbody tr:nth-child(odd) {
  background-color: #ece9e9;
}

th,
td {
  /* cell */
  padding: 0.75rem;
  font-size: 0.9375rem;
}

th {
  /* header cell */
  font-weight: 700;
  text-align: left;
  color: #272838;
  border-bottom: 2px solid #eb9486;

  position: sticky;
  top: 0;
  background-color: #f9f8f8;
}

td {
  /* body cell */
  color: #7e7f9a;
}

/* demo stuff */
body {
  padding: 6rem 2rem;
  background-color: #f9f8f8;
}

/* branching */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  border: 1px solid rgb(167, 161, 161);
  background-color: rgb(229, 234, 237);
  padding: 5px 10px;
  border-radius: 4px 4px 0px 0px;
}

.content {
  padding: 6px 10px;
  border-right: 1px solid rgb(167, 161, 161);
  border-bottom: 1px solid rgb(167, 161, 161);
  border-left: 1px solid rgb(167, 161, 161);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.tab {
  margin-bottom: 25px;
}

.data {
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding: 3px 0;
}

.blue {
  background-color: rgba(155, 229, 245, 0.692);
  padding: 1px 4px;
  border-radius: 4px;
}

.bi {
  margin: 0px 6px;
  font-size: 14px;
}

.update {
  font-size: 15px;
  color: rgb(109, 106, 106);
}

.def {
  border: 1px solid grey;
  padding: 1px 5px;
  font-size: 15px;
  border-radius: 40px;
}

.box {
  box-shadow: 0px 1px 1px black;
  margin-right: 18px;
  margin-left: 4px;
  padding: 2px;
}

.pull-req {
  border: 1px solid grey;
  padding: 2px 5px;
  font-size: 15px;
  border-radius: 4px;
  color: wheat;
}

.icons {
  margin: 0px 8px;
}

.branch-detail {
  padding-left: 40px;
  display: none;
}

.select-branch {
  border: 1px solid grey;
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.branch {
  font-weight: 500;
  margin: 0 4px;
}

.git,
.bi-caret-down-fill {
  font-size: 10px;
}

.date-fr {
  margin: 15px 0;
}

.br {
  border: 1px solid grey;
  padding: 6px 10px;
  border-radius: 4px;
}

.commit-time {
  font-weight: 500;
  color: wheat;
  margin-left: 3px;
}

h5 {
  padding-left: 40px;
}

.gap {
  display: flex;
  justify-content: space-between;
}

.code {
  background-color: rgb(234, 229, 229);
  border: 1px solid grey;
}

.unique {
  color: rgb(21, 120, 219);
  font-size: 12px;
  font-weight: 600;
  padding: 3px 10px;
  border-left: 1px solid grey;
}

.br-right {
  padding: 6px 10px;
  font-size: 12px;
}

.searchbox-wrap {
  display: flex;
  width: 500px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
h4 {
  font-size: 1rem !important;
}
h5 {
  font-size: 1rem !important;
}

.bgImages {
  background-image: url("../../assets/images/thumb-1920-985381.png");
  background-repeat: no-repeat;
  /* background-size: auto; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: #cccccc; */
}
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  color: wheat;
  -moz-osx-font-smoothing: grayscale;
}
/* .activeclass:active {
  background-color: grey;
} */

.con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.but {
  display: flex;
  flex-direction: column;
}

hover {
  padding: 15px 20px;
  font: 13px button-font;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 1em;
}

.hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button3 {
  padding: 5px 7px;
  color: white;
  background: purple;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.button3:hover {
  border-radius: 30px;
}
.branchrepo{
  height: 20rem;
  overflow-y: scroll;
}
