// Reusable styles for the page header

.page-header {
	background-color: #f8f9fa;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
	h1 {
	  text-align: center;
	  margin-bottom: 10px;
	}
  
	.lead {
	  color: #6c757d;
	  text-align: center;
	}
  
	.made-by {
	  margin-top: 20px;
	  font-size: 16px;
	  color: #495057;
	  text-align: center;
  
	  a {
		color: #007bff;
		text-decoration: none;
  
		&:hover {
		  text-decoration: underline;
		}
	  }
	}
  }
  
  // Reusable styles for the search form
  .search-form {
	margin-top: 20px;
  
	.row {
	  .col-xs-9 {
		.form-group {
		  margin-bottom: 0; 
		}
	  }
  
	  button {
		margin-left: 10px;
	  }
	}
  }


  .repo-card {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	transition: box-shadow 0.3s ease, transform 0.3s ease; 
	overflow: hidden; 
  
	&:hover {
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	  transform: scale(1.0.8); 
	  border-radius: 5px;
	}
  
	h4 {
	  margin-top: 0;
	}
  
	p {
	  margin-bottom: 10px;
	}
  
	.repo-meta {
	  display: flex;
	  justify-content: space-between;
	}
  }
  


  .skeleton-loader {
	height: 100px; /* Adjust the height based on your design */
	background-color: #f0f0f0; /* Light gray color for the skeleton */
	animation: skeleton-loading 1.5s infinite ease-in-out;
  }
  
  @keyframes skeleton-loading {
	0% { opacity: 0.7; }
	50% { opacity: 0.5; }
	100% { opacity: 0.7; }
  }
  

  .custom-panel-footer {
	background-color: #f4f4f4;
	padding: 15px;
	border-top: 1px solid #ddd;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  
	.custom-pagination {
	  margin-right: 20px;
  
	  .mat-paginator {
		display: flex;
		align-items: center;
  
		.mat-paginator-range-label {
		  font-size: 14px;
		  color: #555;
		}
  
		.mat-select-trigger {
		  background-color: #fff;
		  border: 1px solid #ddd;
		  border-radius: 4px;
  
		  &:hover {
			background-color: #f9f9f9;
		  }
		}
  
		.mat-paginator-navigation {
		  button {
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 4px;
  
			&:hover {
			  background-color: #f9f9f9;
			}
  
			&:disabled {
			  color: #aaa;
			}
		  }
		}
	  }
	}
  }
  

  #myVideo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
	z-index: -1;
  }
  
  /* Additional styles for content on top of the video */
  .content {
	position: relative;
	z-index: 1;
}