<div class="h-[400px] flex flex-row flex-wrap px-[35px]">
  <div class="w-96 h-44 bg-gray-200 rounded-xl shadow-lg animate-pulse mx-7 my-5 flex flex-col ">
    <div class="flex justify-between px-3 m-8 py-2">
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
    </div>
    <div>
      <div class="flex justify-center ">
        <div class="bg-slate-300 rounded-lg w-1/4 h-8"></div>
      </div>
    </div>
  </div>
  <div class="w-96 h-44 bg-gray-200 rounded-xl shadow-lg animate-pulse mx-7 my-5 flex flex-col ">
    <div class="flex justify-between px-3 m-8 py-2">
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="bg-slate-300 rounded-lg w-1/4 h-8"></div>
      </div>
    </div>
  </div>
 
  <div class="w-96 h-44 bg-gray-200 rounded-xl shadow-lg animate-pulse mx-7 my-5 flex flex-col ">
    <div class="flex justify-between px-3 m-8 py-2">
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="bg-slate-300 rounded-lg w-1/4 h-8"></div>
      </div>
    </div>
  </div>
  <div class="w-96 h-44 bg-gray-200 rounded-xl shadow-lg animate-pulse mx-7 my-5 flex flex-col ">
    <div class="flex justify-between px-3 m-8 py-2">
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="bg-slate-300 rounded-lg w-1/4 h-8"></div>
      </div>
    </div>
  </div>
  <div class="w-96 h-44 bg-gray-200 rounded-xl shadow-lg animate-pulse mx-7 my-5 flex flex-col ">
    <div class="flex justify-between px-3 m-8 py-2">
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="bg-slate-300 rounded-lg w-1/4 h-8"></div>
      </div>
    </div>
  </div>
  <div class="w-96 h-44 bg-gray-200 rounded-xl shadow-lg animate-pulse mx-7 my-5 flex flex-col ">
    <div class="flex justify-between px-3 m-8 py-2">
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
      <p class="w-10 bg-slate-300 h-8 m-20 rounded-lg animate-bounce"></p>
    </div>
    <div>
      <div class="flex justify-center">
        <div class="bg-slate-300 rounded-lg w-1/4 h-8"></div>
      </div>
    </div>
  </div>
 
 
  
</div>
