<app-profile-component [name]='name' [bio]='bio' [location]='location' [twitterProfile]='twitterProfile'
    [githubLink]='githubLink' [avatarUrl]='avatarUrl' [fetched]='fetchedProfile'></app-profile-component>
<div class="flex flex-col flex-1">
    <ul class=" flex flex-col flex-grow p-2">
        <div *ngIf="!fetchedRepo" class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-stretch">
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance='line' count='3' class=''></ngx-skeleton-loader>
        </div>
        <div *ngIf="fetchedRepo" class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-stretch">
            <li
                *ngFor="let item of userData | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: count }; index as i">

                <div class=" h-full place-self-stretch p-2">
                    <app-repo-box [repoName]='item.name' [repoDescription]='item.description' [keys]='keys[i]'
                        class="h-full"></app-repo-box>
                </div>

            </li>

        </div>

    </ul>
    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
        (pageChange)="handlePageChange($event)" class="flex justify-center">
    </pagination-controls>
</div>