<div class="flex flex-wrap">

  <div class="w-1/4 p-4 animate-pulse" *ngFor="let repo of repos">
    <div class="bg-gray-200 rounded-lg shadow-md overflow-hidden border border-gray-300">
      <div class="p-4">
        <div class="h-6 bg-gray-300 rounded mb-2"></div> 
        <div class="h-4 bg-gray-300 rounded"></div> 
      </div>
      <div *ngIf="repo.topics.length > 0">
        <div class="px-4 py-2 bg-gray-200">
          <div class="h-4 bg-gray-300 rounded"></div>
        </div>
      </div>
      <div class="px-4 py-2">
        <div class="h-8 bg-gray-300 rounded-full"></div> 
      </div>
    </div>
  </div>
</div>
