html,
body,
app-root {
  width: 100%;
  height: 100%;
  margin: 0Px;
  user-select: none;
}

.row {
  width: 100% !important;
  margin: 0px;
}

.pe-auto { cursor: pointer; }

.d-inline-block { display: inline-block !important; }

.bg-black-subtle { animation: loading .5s linear infinite; }

@keyframes loading {
  from { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

  to { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
}
