@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #000000;
  background: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: "IBM Plex Mono", monospace;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
  line-height: 1.6;
}

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
