@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.animation-pulse{

    animation: pulse 1.5s infinite;
}