<app-navbar [showSearch]="false"></app-navbar>
<div class='mt-20 max-w-md mx-auto border-4 rounded-lg bg-blue-50 text-black'>
    <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-blue-50 overflow-hidden">
        <div class="grid place-items-center h-full w-12 text-black">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>
        <form class="w-full" (ngSubmit)="processQuery()">
            <input [(ngModel)]="searchQuery" name="search-query"
                class="bg-blue-50 peer h-full w-full outline-none text-sm text-black pr-2" type="text" id="search"
                placeholder="Search user.." />
        </form>
    </div>
</div>