<div *ngIf="user" class="max-w-3xl mx-auto mt-8">
  <div
    class="bg-gray-800 shadow-lg rounded-lg overflow-hidden flex flex-col sm:flex-row"
  >
    <img
      [src]="user.avatar_url"
      alt="Avatar"
      class="w-full sm:w-1/3 h-auto object-cover"
    />
    <div class="w-full sm:w-2/3 p-4">
      <h2 class="text-xl font-semibold text-white">{{ user.name }}</h2>
      <p class="text-gray-300">{{ user.login }}</p>
      <p class="text-gray-400 mt-2">{{ user.bio || "No bio available" }}</p>
      <div class="flex justify-between mt-4">
        <div class="text-gray-400">
          <p class="font-semibold">{{ user.followers }}</p>
          <p>Followers</p>
        </div>
        <div class="text-gray-400">
          <p class="font-semibold">{{ user.following }}</p>
          <p>Following</p>
        </div>
        <div class="text-gray-400">
          <p class="font-semibold">{{ user.public_repos }}</p>
          <p>Repos</p>
        </div>
      </div>
      <div class="mt-3">
        <p class="text-gray-400">Twitter:</p>
        <p>
          <a
            [href]="'https://twitter.com/' + user.twitter_username"
            *ngIf="user.twitter_username"
            class="text-blue-400 hover:text-blue-600"
            >{{ user.twitter_username }}</a
          >
          <span *ngIf="!user.twitter_username" class="text-gray-500">N/A</span>
        </p>
      </div>
      <div class="mt-1">
        <p class="text-gray-400">Blog:</p>
        <p>
          <a
            [href]="user.blog"
            *ngIf="user.blog"
            class="text-blue-400 hover:text-blue-600"
            >{{ user.blog }}</a
          >
          <span *ngIf="!user.blog" class="text-gray-500">N/A</span>
        </p>
      </div>
    </div>
  </div>
</div>
