<div class="p-2 flex flex-col  items-center justify-center gap-10">
    <nav class="w-full h-auto p-5 flex items-center justify-between border-b-2 border-white" >
        <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="" class="h-16 w-16 rounded-full object-cover">
        <h1 class="text-white text-xl lg:text-3xl font-semibold"> Github Repo Fetcher. </h1>
    </nav>
    <app-search-bar class="w-full" (currentPageEmitter)="setCurrentPage($event)" (dataEmitter)="dataListener($event)"></app-search-bar>
    
    <h1 class="text-xl lg:text-3xl font-bold mt-5 text-red-400" *ngIf="error">{{"User with username "+query+" doesn't exists! or rate limit exceeded..."}}</h1>
    
    <div *ngIf="userLoading; else userContent" class="w-full lg:w-1/2 border border-gray-400 h-1/3 p-5 rounded-lg  flex flex-col items-center justify-center gap-10">
        <div class="rounded-full bg-gradient-to-bl from-black to-gray-400 w-40 h-40"></div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-10">
            <div class="w-1/2 h-8 rounded-sm bg-gradient-to-tr from-black to-gray-400"></div>
            <div class="w-1/3 h-8 rounded-sm bg-gradient-to-tr from-black to-gray-400"></div>
            <div class="w-1/4 h-8 rounded-sm bg-gradient-to-tr from-black to-gray-400"></div>
        </div>
        
    </div>

    <div *ngIf="reposLoading; else repoContent" class="w-full p-2 h-auto flex items-center justify-center gap-10 flex-wrap">
        <div *ngFor="let _ of skeletonArray" class=" rounded-lg w-96 lg:w-72 h-auto p-3 flex flex-col items-start justify-start gap-10 border border-gray-400">
            <div class="w-1/2 h-4 rounded-sm bg-gradient-to-tr from-black to-gray-400"></div>
            <div class="w-1/3 h-4 rounded-sm bg-gradient-to-tr from-black to-gray-400"></div>
            <div class="w-1/4 h-4 rounded-sm bg-gradient-to-tr from-black to-gray-400"></div>
        </div>
              
    </div>

    <ng-template #userContent>
        <div    class="hover:bg-right-bottom hover:scale-110 transition-all duration-700 bg-[url('https://images.unsplash.com/photo-1618401479427-c8ef9465fbe1?q=80&w=1443&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] shadow-lg rounded-lg shadow-white/5 w-full lg:w-1/2 h-auto p-5 flex flex-col items-center justify-center gap-10" *ngIf="user.html_url">
            <img src={{user.avatar_url}} class="rounded-full w-40 h-40 object-cover" alt="user github_pfp">
            <div class="w-full h-auto">
                <section class="w-full h-auto flex items-center justify-start gap-5">
                    <h3 class="text-lg text-white"><span class="text-lg lg:text-xl font-bold text-blue-400">Username : </span>{{user.login}}</h3>
                    <h3 class="text-lg text-white"><span class="text-lg lg:text-xl font-bold text-blue-400">link: </span><a href="{{user.html_url}}" class="text-blue-500 underline">{{user.html_url}}</a></h3>
                </section>
                <section class="w-full h-auto flex items-center justify-start gap-5">
                    <h3 class="text-lg text-white"><span class="text-lg lg:text-xl font-bold text-blue-400">Followers : </span>{{user.followers}}</h3>
                    <h3 class="text-lg text-white"><span class="text-lg lg:text-xl font-bold text-blue-400">Following : </span>{{user.following}}</h3>
                </section>
                <h3 class="text-lg text-white"><span class="text-lg lg:text-xl font-bold text-blue-400">Location : </span>{{user.location? user.location : "not found"}}</h3>
                <h3 class="text-lg text-white"><span class="text-lg lg:text-xl font-bold text-blue-400">Email : </span>{{user.email? user.email : "not found"}}</h3>
                <h3 class="text-lg text-white"><span class="text-lg lg:text-xl font-bold text-blue-400">repos : </span>{{user.public_repos}}</h3>
    
            </div>
            
        </div>
    </ng-template>
    
    <ng-template #repoContent>
        <div class="w-full p-2 h-auto flex items-center justify-center gap-10 flex-wrap">
            <app-repo *ngFor="let repo of repos" [repo]="repo"></app-repo>
        </div>
    </ng-template>

    <div class="w-full h-auto flex items-center justify-center gap-3 flex-wrap mt-20 mb-10">
        <button *ngIf="user.html_url" class="bg-red-500 text-xl text-white font-bold p-2 w-12 h-12 rounded-full" (click)="previousPage()">{{"<"}}</button>
        <button [ngClass]="{'bg-yellow-400':currentPage===index+1}" class="hover:scale-105 text-black bg-white rounded-full w-12 p-2 h-12" (click)="setCurrentPage(index+1)" *ngFor="let _ of indexes; let index = index">{{index +1}}</button>
        <button *ngIf="user.html_url" class="bg-blue-700 text-xl text-white font-bold p-2 w-12 h-12 rounded-full" (click)="nextPage()">{{">"}}</button>

    </div>


</div>
