<div class="w-fit ml-auto flex flex-row justify-around align-base gap-2 pr-5">
  <div class="font-bold text-xs md:text-sm">Currently Showing</div>
  <select
    class="bg-white border rounded shadow-lg text-gray-800 hover:bg-blue-500 hover:text-white"
    (change)="handleChange($event)"
    [(ngModel)]="noRepos"
  >
    <option
      *ngFor="let no of showRecordsArr"
      [value]="no"
      [attr.selected]="no == noRepos ? true : false"
    >
      {{ no }}
    </option>
  </select>
  <div class="font-bold text-xs md:text-sm">records</div>
</div>
<div class="w-full flex flex-row justify-center gap-3 mb-3 text-xs">
  <button
    class="border-2 rounded-sm border-blue-200 p-2 focus:ring focus:outline-none focus:ring-sky-300 hover:bg-sky-600"
  >
    First
  </button>
  <button
    class="border-2 rounded-sm border-blue-200 p-2 focus:ring focus:outline-none focus:ring-sky-300 hover:bg-sky-600"
  >
    Prev
  </button>
  <button
    class="border-2 rounded-sm border-blue-200 p-2 focus:ring focus:outline-none focus:ring-sky-300 hover:bg-sky-600"
  >
    Next
  </button>
  <button
    class="border-2 rounded-sm border-blue-200 p-2 focus:ring focus:outline-none focus:ring-sky-300 hover:bg-sky-600"
  >
    Last
  </button>
</div>
