<app-user-form (searchUser)="getUserProfile($event)" />
<div *ngIf="error" class="text-red-500">{{ error }}</div>
<div *ngIf="isProfileLoading; else loadedContent">
  <app-skeleton-user-card />
</div>
<ng-template #loadedContent>
  <div *ngIf="!error">
    <app-user-card [user]="user" />
  </div>
</ng-template>

<div *ngIf="repos.length > 0 && !error">
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="changePage($event)"
    [itemsPerPage]="itemsPerPage"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  ></app-pagination>
  <app-repos-list [repos]="repos" [isLoading]="isLoading" />
</div>
